# Created by .ignore support plugin (hsz.mobi)
### CodeIgniter template
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess


### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

